[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python src/main.py"
format = "black ./"
lint = "flake8 ./"

[packages]
"discord.py" = "1.7.2"
python-dotenv = "0.17.1"
requests = "2.28.1"
flask = "2.0.3"
wikipedia = "1.4.0"

[dev-packages]
flake8 = "3.9.0"
black = "21.6b0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
