[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python src/main.py"
format = "black src/"
lint = "flake8 src/"

[packages]
"discord.py" = "1.6.0"
python-dotenv = "==0.16.0"
requests = "*"
flask = "*"
wikipedia = "*"

[dev-packages]
flake8 = "3.9.0"
black = "20.8b1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
